APScheduler==3.6.0
backoff==1.8.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-APScheduler==1.11.0
flask-mongoengine==0.9.5
Flask-PyMongo==2.2.0
Flask-Simple-GeoIP==0.1.1
Flask-Track-Usage==2.0.0
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
ipapi==0.5.2
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.3
MarkupSafe==1.1.1
mongo==0.2.0
mongoengine==0.17.0
numpy==1.22.0
pandas==0.24.2
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
schedule==0.6.0
simple-geoip==0.1.0
six==1.12.0
soupsieve==1.9.1
tzlocal==1.5.1
urllib3==1.24.2
Werkzeug==0.14.1
wikipedia==1.4.0
WTForms==2.2.1
xmltodict==0.12.0
py4j==0.10.8.1
Flask-Cors==3.0.8
Flask-Login==0.4.1

